<footer class="bg-black text-white py-12 md:py-16 px-6 md:px-10">
    <div class="flex flex-col md:flex-row justify-between border-b border-gray-800 pb-10">
        <div class="mb-10 md:mb-0">
            <h2 class="text-2xl md:text-3xl font-bold mb-4 tracking-tighter">ADIXORA<span class="text-blue-600">.</span></h2>
            <p class="text-gray-400 max-w-xs">Brighter Vision <br> Brighter Future</p>
        </div>
        <div class="grid grid-cols-2 gap-10 md:gap-16">
            <div>
                <h4 class="font-bold mb-4">SHOP</h4>
                <ul class="text-gray-400 space-y-2 text-sm">
                    <li>New Arrivals</li>
                    <li>Bestsellers</li>
                    <li>Blue Light</li>
                </ul>
            </div>
            <div>
                <h4 class="font-bold mb-4">SUPPORT</h4>
                <ul class="text-gray-400 space-y-2 text-sm">
                    <li>Global Tracking</li>
                    <li>Returns</li>
                    <li>Custom Duties</li>
                </ul>
            </div>
        </div>
    </div>
    <p class="mt-10 text-xs text-gray-600">Website built by Lakshya Bhargava<br>Co-Founder<br>Email - lakshya.bhargava.dev@gmail.com</p>
</footer>